
@model WebElReyCan.Models.Turno

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Turno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreMascota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreMascota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreDuenio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreDuenio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Raza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EdadMascota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EdadMascota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.Id }) |
    @Html.ActionLink("Volver a la lista", "Inicio")
</p>
