
@model IEnumerable<WebElReyCan.Models.Turno>

@{
    ViewBag.Title = "Index";
}

<h2>Inicio</h2>
<h4>@Html.RouteLink("TODOS", "Default")</h4>
<p>
    @Html.ActionLink("Crear Nuevo", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreMascota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreDuenio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Raza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EdadMascota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Celular)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.ActionLink(item.NombreMascota, "Inicio", new { destino = item.NombreMascota })
                @*@Html.DisplayFor(modelItem => item.NombreMascota)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreDuenio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EdadMascota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Detalles", new { id = item.Id }) |
                @Html.ActionLink("Borrar", "Borrar", new { id = item.Id })
            </td>
        </tr>
    }
</table>
