
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/main.css" rel="stylesheet" />

</head>
<body>
    <header>
        <h1>SISTEMA TURNOS</h1>
    </header>
    <nav>
        <p class="link">@Html.ActionLink("INICIO", "Index", "Inicio")</p>
        <p class="link">@Html.ActionLink("TURNOS", "Index", "Turno")</p>
    </nav>
    <main>
        <aside>
            @if (IsSectionDefined("aside"))
            {
                @RenderSection("aside")
            }
            else
            {
                <img src="~/Images/dog.jpg" />
            }
        </aside>
        <section class="content">
            @RenderBody()
        </section>
    </main>
    <footer>
        <h3>elreycan@email.com</h3>
    </footer>
</body>
</html>
